@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D8AE7E;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.back-btn{
  @apply w-[100px] text-7xl font-semibold absolute left-10;
}

.type-drink-btn-left{
  @apply w-full border-r-4 border-[#F8C794] hover:bg-[#C1C1C1] rounded-l-full;
}

.type-drink-btn-middle{
  @apply w-full border-x-4 border-[#F8C794] hover:bg-[#C1C1C1];
}

.type-drink-btn-right{
  @apply w-full border-l-4 border-[#F8C794] hover:bg-[#C1C1C1] rounded-r-full;
}

.type-drink-btn-left-selected{
  @apply bg-[#C1C1C1] w-full rounded-l-full border-r-4 border-[#F8C794];
}

.type-drink-btn-middle-selected{
  @apply w-full border-x-4 border-[#F8C794] bg-[#C1C1C1];
}

.type-drink-btn-right-selected{
  @apply w-full border-l-4 border-[#F8C794] bg-[#C1C1C1] rounded-r-full;
}

.sugar-btn{
  @apply bg-[#D8AE7E] w-3/4 border-[#F8C794] border-4 rounded-full hover:bg-[#C1C1C1];
}

.sugar-btn-selected{
  @apply w-3/4 border-[#F8C794] border-4 rounded-full bg-[#C1C1C1];
}

.manange-btn{
  @apply h-[100px] w-fit p-10 rounded-full text-5xl flex items-center justify-center font-semibold;
}


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
