@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D8AE7E;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.type-drink-btn-left{
  @apply w-full border-r-4 border-[#F8C794] hover:bg-[#C1C1C1] rounded-l-full;
}

.type-drink-btn-middle{
  @apply w-full border-x-4 border-[#F8C794] hover:bg-[#C1C1C1];
}

.type-drink-btn-right{
  @apply w-full border-l-4 border-[#F8C794] hover:bg-[#C1C1C1] rounded-r-full;
}

.type-drink-btn-left-selected{
  @apply bg-[#C1C1C1] w-full rounded-l-full border-r-4 border-[#F8C794];
}


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
